[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=RecordItNowRecorder
X-KDE-PluginInfo-Version=0.1
Name=RecordItNow Recorder lib


[PropertyDef::X-RecordItNow-FPS]
Type=bool

[PropertyDef::X-RecordItNow-Sound]
Type=bool

[PropertyDef::X-RecordItNow-Pause]
Type=bool

[PropertyDef::X-RecordItNow-Stop]
Type=bool

[PropertyDef::X-RecordItNow-DefaultFile]
Type=QString

[PropertyDef::X-RecordItNow-ConfigGroup]
Type=QString

[PropertyDef::X-RecordItNow-TimelineEnabled]
Type=bool

[PropertyDef::X-RecordItNow-MouseEnabled]
Type=bool

[PropertyDef::X-RecordItNow-KeyboardEnabled]
Type=bool

