[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=recorditnow_mencoder_config
X-KDE-ParentComponents=MencoderEncoder

Name=Mencoder Config
