[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=recorditnow_recordmydesktop_config
X-KDE-ParentComponents=RecordMyDesktopRecorder

Name=RecordMyDesktop Config
